#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 12, 12, 0.4);
  }
  
  header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
  }
  #navbar ul {
    height: 90%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  #navbar li {
    color: #757680;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
  }
  #navbar a {
    display: block;
    padding: 10px 30px;
    color: #757680;
    text-decoration: none;
    cursor: pointer;
  }

  body{
    background-color: #fff;
    color: black;
    font-family: sans-serif;
  }

  section {
    color: #4d4d4d;
    margin: 16px;
    font-size: 14px ;
  }
  section li {
    margin: 15px 0px 0px 20px;
  }
  
  #main-doc{
    position: relative;
    margin-left: 300px;
    margin-top: 20px;
    margin-bottom: 110;
  }
code{
  position: relative;
  white-space: pre-line;
  word-wrap: normal;
  line-height: 2;
  display: block;
  text-align: center;
  background-color: #f7f7f7;
  padding: 14px;
  border-radius: 5px;
}
#main-doc header {
  text-align: left;
  margin: 0px;
}
section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

/* for mobile */
@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}


@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}